@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.home-page {
    width: 100%;
    &__image {
        margin: 0 auto;
        display: block;
        width: 60%;

        @include tablet {
            width: 40%;
        }
    }
}
