@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.home-page {
    width: 100%;
    background: linear-gradient(0deg, #fff, #eae6ff 100%);

    &__hero {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__image {
        display: block;
        width: 60%;

        @include tablet {
            width: 30%;
        }
    }
    &__link {
        height: fit-content;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: $secondary-text-color;
        background-color: $primary-cta-color;
        border-radius: 0.25rem;
        cursor: pointer;
    }
}
