// Font colors
$primary-text-color: #2f2e41;
$secondary-text-color: #ffffff;

// CTA colors
$primary-cta-color: #6c63ff;
$secondary-cta-color: #ff6584;

$divider-color: #343950;

$effect-color: #865c74;
