// Font colors
$primary-text-color: #323232;
$secondary-text-color: #f6f7f7;

// CTA colors
$primary-cta-color: #6c63ff;
$secondary-cta-color: #d86890;

$divider-color: #343950;

$effect-color: #865c74;
