// Font colors
$primary-text-color: #323232;
$secondary-text-color: #f6f7f7;

// CTA colors
$primary-cta-color: #31baaf;
$secondary-cta-color: #efe05d;

$divider-color: #343950;

$effect-color: #865c74;
