@use "../partials/typography";
@use "../partials/colors" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", "Arial";
    margin: 0;
    padding: 0;
    color: $primary-text-color;
}
