@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-Regular.woff2);
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-Medium.woff2);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-Bold.woff2);
    font-style: normal;
    font-weight: 700;
}

// Project name font
@font-face {
    font-family: "Bilal";
    src: url(../../assets/fonts/Bilal.woff2);
    font-style: normal;
    font-weight: 300;
}
