@use "../../styles/partials/global";
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;

.button {
    padding: 0.5rem 1rem;
    margin: 0 auto;
    width: fit-content;
    color: $secondary-text-color;
    background-color: $primary-cta-color;
    text-decoration: none;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background-color: $cta-hover-color;
    }
}
