@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.tutorials-grid {
    width: 100%;
    padding: $vertical-padding-mobile;

    @include tablet {
        display: flex;
        padding: 1rem $vertical-padding-tablet;
    }

    @include desktop {
        padding: 1rem $vertical-padding-desktop;
    }

    &__save {
        width: 5%;
    }
    &__icon {
        width: 1rem;
        height: 1rem;
        cursor: pointer;
    }

    &__container {
        width: 100%;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
        }

        @include desktop {
            margin: 0 auto;
        }
    }

    &__video-frame {
        margin-bottom: 2rem;
        padding: 1rem 2rem;
        box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
        width: 100%;
        min-height: 20rem;
        overflow: hidden;

        @include tablet {
            width: 48%;
            min-height: 35%;
        }

        @include desktop {
            width: 32%;
            height: 55%;
        }
    }

    &__video {
        width: 100%;
        min-height: 70%;
        border-radius: 0.25rem;
        box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
        display: block;
    }

    &__caption-container {
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
    }

    &__caption {
        margin: 0;
        width: 80%;
    }
}
