.login {
    display: flex;

    &__container {
        margin: 0 auto;
        border-radius: 0.25rem;
        max-width: 25rem;
        padding: 1rem 2rem;
        box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
    }
}
