@use "../../styles/partials/global";
@use "../../styles/partials/mixins" as *;

.photo {
    &__container {
        padding-bottom: 1rem;
        height: 100%;
        position: relative;
        transition: 0.5s ease;

        @include tablet {
            padding: 0;
        }

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    &__image {
        width: 100%;
        display: block;
        opacity: 1;
        border-radius: 4px;
    }

    &__icon {
        background-image: url("../../assets/icons/heart-solid.svg");
        background-repeat: no-repeat;
        background-origin: content-box;
        background-position: center;
        padding: 0.2rem;
        background-color: #ffffff;
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        bottom: 1rem;
        right: 1rem;
        &--highlight {
            background-image: url("../../assets/icons/heart-red.svg");
        }
    }
}
