@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.color {
    padding: $vertical-padding-mobile;
    max-height: 100vh;

    @include tablet {
        display: flex;
        flex-direction: column;
        padding: 2rem $vertical-padding-tablet;
    }

    @include desktop {
        padding: 2rem $vertical-padding-desktop;
    }

    &__image {
        display: inline-block;
        max-height: 70%;
        @include desktop {
            margin: 0 auto;
        }
    }

    &__palette-container {
        width: 100%;
        max-height: 30%;
        padding-top: 1rem;

        @include tablet {
            display: flex;
        }
    }

    &__palette {
        width: 100%;
    }
}
