@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.header {
    width: 100%;
    display: flex;
    padding: 1rem $vertical-padding-mobile;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    // background-color: #eae6ff;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem $vertical-padding-tablet;
    }

    @include desktop {
        padding: 1rem $vertical-padding-desktop;
    }

    &__logo-link {
        @include tablet {
            margin: 0;
            width: 20%;
        }
    }

    &__logo {
        width: 100%;
        max-height: 5rem;

        @include tablet {
            max-width: 7.5rem;
        }
    }

    &__navigation {
        display: flex;
        align-items: center;

        @include mobile {
            display: none;
        }

        &--login {
            @include mobile {
                display: block;
            }
        }

        &-login {
            padding: 0.5rem 1.5rem;
            text-decoration: none;
            background-color: $primary-cta-color;
            color: $secondary-text-color;
            border-radius: $border-radius;
        }
        &-logout {
            padding: 0.5rem 1.5rem;
            outline: none;
            border: none;
            background-color: $primary-cta-color;
            color: $secondary-text-color;
            border-radius: $border-radius;
        }

        &-link {
            margin: 0 1rem;
            padding: 1rem 1.5rem;
            text-decoration: none;
            color: $primary-text-color;
            position: relative;
            transition: 0.3s;
            align-self: center;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 0.125rem;
                background: $primary-cta-color;
                transition: width 0.3s;
            }
            &:hover {
                &::after {
                    width: 100%;
                    background: $secondary-cta-color;
                }
            }

            &--active {
                &::after {
                    width: 100%;
                    background: $primary-cta-color;
                }
            }
        }
    }

    &__hamburger {
        display: none;

        @include mobile {
            display: block;
            cursor: pointer;
        }
    }

    &__bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }
}

.profile {
    display: flex;
    align-items: center;
    &__image-container {
        width: 3rem;
        display: flex;
    }

    &__image {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        object-fit: cover;
    }

    &__icon {
        width: 1rem;
        height: 1rem;
        margin-left: 0.5rem;
    }

    &__menu {
        margin-top: 1rem;
        position: absolute;
        inset: 4.5rem $vertical-padding-mobile auto auto;
        box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
        padding: 1rem 1.5rem;
        border-radius: 0.25rem;
        right: $vertical-padding-mobile;
        z-index: 100;
        background-color: #ffffff;

        @include tablet {
            right: $vertical-padding-tablet;
        }

        @include desktop {
            right: $vertical-padding-desktop;
        }
    }

    &__menu-item {
        text-decoration: none;
        display: flex;
        align-items: center;
        cursor: pointer;

        &-icon {
            width: 1.2rem;
            height: 1.2rem;
        }
        &-text {
            padding-left: 1rem;
            color: $primary-text-color;
        }
    }
}

.hamburger {
    &__navigation {
        background-color: #ffffff;
        position: absolute;
        top: 7.3rem;
        right: 0;
        box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
        z-index: 200;
        width: 100%;
        height: 100vh;

        @include tablet {
            display: none;
        }

        &-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
            color: $primary-text-color;

            &:hover {
                color: $primary-cta-color;
            }

            &--logout {
                border-top: 0.0625rem solid $primary-cta-color;
                cursor: pointer;
            }
        }

        &-icon {
            width: 1rem;
            height: 1rem;
            margin-right: 0.5rem;
        }
    }
}
