@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.header {
    display: flex;
    padding: 1rem $vertical-padding-mobile;
    flex-direction: column;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link {
        margin: 0 auto;

        @include tablet {
            margin: 0;
            width: 20%;
        }
    }

    &__logo {
        width: 100%;
        max-height: 5rem;

        @include tablet {
            max-width: 7.5rem;
        }
    }

    &__navigation {
        display: flex;

        &-login {
            padding: 0.5rem 1.5rem;
            text-decoration: none;
            background-color: $primary-cta-color;
            color: $secondary-text-color;
            border-radius: $border-radius;
        }

        &-link {
            padding: 0.5rem 1.5rem;
            text-decoration: none;
            color: $primary-text-color;
            position: relative;
            transition: 0.3s;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 0.125rem;
                background: $primary-cta-color;
                transition: width 0.3s;
            }
            &:hover {
                &::after {
                    width: 100%;
                    background: $secondary-cta-color;
                }
            }

            &--active {
                &::after {
                    width: 100%;
                    background: $primary-cta-color;
                }
            }
        }
    }
}
