@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.photo-gallery {
    width: 100%;
    padding: 1rem 0 0 1rem;
    @include tablet {
        display: flex;
    }

    &__column {
        padding-right: 1rem;
        @include tablet {
            width: 50%;
            display: flex;
            flex-direction: column;
        }
    }
    &__image-container {
        height: 100%;
        position: relative;
        transition: 0.5s ease;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    &__image {
        width: 100%;
        display: block;
        opacity: 1;
        border-radius: 4px;
    }

    &__image-link {
        padding-bottom: 1rem;
    }

    &__image-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.5s ease;
        top: 0;

        &:hover {
            opacity: 1;
        }
    }

    &__icon {
        position: absolute;
        background-color: white;
        padding: 0.25rem;
        width: 1.5rem;
        bottom: 1rem;
        right: 1rem;
    }
}
